/* Navbar styling */
#navbar {
    background-color: var(--base02);
    width: 95%;
    margin: auto;
    margin-left: auto;
    padding-left: 0px;
    margin-right: auto;
    margin-bottom: 10px;

    /* border */
    border: 1px solid;
    border-color: var(--base02);
    border-radius: 10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--base02);
}

#navbar li a {
    display: block;
    color: var(--cyan);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: var(--base02);
}

#navbar a {
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* left and right floating navbar buttons */
#navbar .left {
    float: left;
}
#navbar .right {
    float: right;
}

#navbar .dropdown {
    overflow: hidden;
}
#navbar .dropdown .dropbtn {
    outline: none;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    padding: 14px 16px;
    background-color: inherit;
    color: var(--cyan);
}
#navbar .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
}
#navbar .dropdown-content a {
    float: none;
    display: block;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
}
#navbar .dropdown-content a:hover {
    background-color: var(--base02);
}

#navbar .dropdown:hover .dropdown-content {
    display: block;
}
