/*====================================================================================================================*/
/* General Page and body styling
/*====================================================================================================================*/
body {
    background-color: var(--base03);
    color: var(--base00);
}

#page {
    background-color: var(--base03);
    color: var(--base01);
    width: 95%;
    margin: auto;
    margin-left: auto;
    padding-left: 0px;
    margin-right: auto;
}


/*====================================================================================================================*/
/* Content styling */
/*====================================================================================================================*/
#content {
    margin: 0 auto;
    margin-top: 100px;
    color: var(--base3);
}
#content a {
    color: var(--blue);
}
#content a:hover {
    background-color: var(--blue);
    color: var(--base00);
    text-decoration: none;
}
#content h1 {
    color: var(--violet);
}

/* general input styling */
#content input {
    background-color: var(--base01);
    border-color: var(--base01);
    color: var(--base3);
    border-radius: 10px;
}
#content input:hover {
    background-color: var(--base01);
    border-color: var(--base2);
    color: var(--base3);
    border-radius: 10px;
}

/* submit button styling */
#content input[type="submit"] {
    margin: 0 auto;
}
#content input[type="submit"]:hover {
    border-color: var(--base2);
}
