body {
  background-color: slategrey;
  font-family: cursive;
}

h1 {
  text-align: center;
  font-size: 40px;
  text-shadow:
     0 1px 0 hsl(15,40%,60%),
     0 1px 0 hsl(15,40%,58%),
     0 3px 0 hsl(15,40%,56%),
     0 4px 0 hsl(15,40%,54%),
     0 5px 0 hsl(15,40%,52%),
     0 6px 1px hsl(15,40%,50%),
     0 0 5px hsl(15,20%,60%),
     0 1px 3px hsl(15,20%,58%),
     0 3px 5px hsl(15,20%,56%),
     0 5px 10px hsl(15,20%,54%),
     0 10px 10px hsl(15,20%,52%),
     0 15px 15px hsl(15,20%,50%);
}