/*====================================================================================================================*/
/* Variable definition */
/*====================================================================================================================*/
:root {
    /* color definition for one dark theme */
    --base03:  #fdf6e3; /* should be used as background for the entire page */
    --base02:  #eee8d5; /* should be used as sub-background for containers inside the page */
    --base01:  #93a1a1; /* should be used as sub-sub-background for containers inside containers */
    --base00:  #839496; /* should be used as text color against base03 backgrounds */
    --base0:   #657b83; /* should be used as text color against base02 backgrounds */
    --base1:   #586e75; /* should be used as text color against base01 backgrounds */
    --base2:   #073642;
    --base3:   #002b36;
    --yellow:  #b58900;
    --orange:  #cb4b16;
    --red:     #dc322f;
    --magenta: #d33682;
    --violet:  #6c71c4;
    --blue:    #268bd2; /* links should remain blue */
    --cyan:    #2aa198;
    --green:   #859900;
}
