<div class="section">
  <h1>Add VAC Suspect</h1>
  <ul class="default">
    <li>
      <form action="index.pl" method="post">
        <input type="hidden" name="action" value="add_suspect"/>
        <input type="hidden" name="subaction" value="confirm"/>
        <input type="text" name="steam_id64" value="" maxlength="50" required/>
        <input type="submit" value="Add Suspect"/>
      </form>
    </li>
  </ul>
</div>
