<div class="section">
  <h1>Detailed view for <TMPL_VAR NAME=SUSPECT_PROFILE_NAME></h1>
  <div class="suspect-list">
    <center>
      <ul>
        <TMPL_VAR NAME=DETAIL_SUSPECT>
      </ul>
    </center>
  </div>
</div>
