<div class="section">
  <h1>List of all suspects</h1>
  <div class="suspect-list">
    <ul>
      <li>
        <table>
          <tr>
            <th>
              STEAM ID 64
            </th>
            <th>
              STEAM PROFILE NAME
            </th>
            <th>
              ACTIONS
            </th>
          </tr>
          <TMPL_VAR NAME=TABLE_LIST_SUSPECTS>
        </table>
      </li>
    </ul>
  </div>
</div>
