<div class="section">
  <h1>Add user</h1>
  <ul class="default">
    <li>
      <form action="index.pl" method="post">
        <ul class="inform">
          <li>
            <input type="hidden" name="action" value="add_user" />
            <input type="hidden" name="subaction" value="confirm" />
          </li>
          <li>
            <label for="username">Username: </label>
            <input type="text" name="username" required/>
          </li>
        </br>
          <li>
            <label for="password">Password: </label>
            <input type="password" name="password" required/>
          </li>
          </br>
          <li>
            <input type="submit" value="Add new User" />
          </li>
        </ul>
      </form>
    </li>
  </ul>
</div>
