<main>
  <style media="screen">
    .default form {
      margin: 5px;
      padding: 5px;
    }
    .default form input {
      background-color: #282828;
      color: inherit;
      border: 2px solid #32302f;
      border-radius: 10px;
      margin: inherit;
      padding: inherit;
    }
    .default form input:hover {
      background-color: #32302f;
    }
    .inform {
      line-height: 30px;
      margin: inherit;
      padding: inherit;
    }
    .user-list ol {
      border: none;
      padding: 5px;
      margin: 5px;
      line-height: 20px;
    }
  </style>
	<script>
		function Download(url) {
			document.getElementById("download_db").src = url;
		}
		submitForms = function() {
			document.getElementById("form1").submit();
			Download("../../data/database.db");
		}
	</script>
  <div class="section" id="user-manager">
    <h1>User Manager</h1>
    <TMPL_VAR NAME=FORM_DEFAULT_UM>
    <TMPL_VAR NAME=FORM_ADD_USER>
    <TMPL_VAR NAME=FORM_DEL_USER>
    <TMPL_VAR NAME=TABLE_LIST_USERS>
  </div>
  <div class="section" id="database-manager">
    <h1>Database Manager</h1>
		<TMPL_VAR NAME=FORM_DEFAULT_DM>
		<TMPL_VAR NAME=FORM_DOWNLOAD_DB>
  </div>
</main>
