<ul class="default">
  <li>
    <form action="index.pl" method="post">
      <input type="hidden" name="action" value="add_user" />
      <input type="submit" value="Add new User" />
    </form>
  </li>
  <li>
    <form action="index.pl" method="post">
      <input type="hidden" name="action" value="del_user" />
      <input type="submit" value="Delete User" />
    </form>
  </li>
  <li>
    <form action="index.pl" method="post">
      <input type="hidden" name="action" value="list_users" />
      <input type="submit" value="List all users" />
    </form>
  </li>
  <li class="notify">
    <span><TMPL_VAR NAME=MSG></span>
  </li>
</ul>
