<div class="section">
  <h1>Delete user</h1>
  <ul class="default">
    <li>
      <form action="index.pl" method="post">
        <ul class="inform">
          <li>
            <input type="hidden" name="action" value="del_user" />
            <input type="hidden" name="subaction" value="confirm" />
          </li>
          <li>
            <label for="username">Username: </label>
            <input type="text" name="username" />
          </li>
          </br>
          <li>
            <input type="submit" value="Delete User" />
          </li>
        </ul>
      </form>
    </li>
  </ul>
</div>
