<main>
  <style media="screen">

  </style>
  <div class="admin_panel">
    <div class="section" id="user-manager">
      <h1>User Manager</h1>
      <div class="section">
        <ul>
          <li>
            <form action="index.pl" method="post">
              <input type="hidden" name="action" value="user-mgr">
              <input type="hidden" name="subaction" value="list-users">
              <input type="submit" value="List Users">
            </form>
          </li>
          <li>
            <form action="index.pl" method="post">
              <input type="hidden" name="action" value="user-mgr">
              <input type="hidden" name="subaction" value="list-users">
              <input type="submit" value="Add User">
            </form>
          </li>
          <li>
            <form action="index.pl" method="post">
              <input type="hidden" name="action" value="user-mgr">
              <input type="hidden" name="subaction" value="list-users">
              <input type="submit" value="Remove User">
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="section" id="database-manager">
      <h1>Database Manager</h1>
      test</br>
      test</br>
      test</br>
      test</br>
    </div>
  </div>
</main>
