<main>
  <style media="screen">

  </style>
  <div class="admin_panel">
    <div class="section" id="user-manager">
      <h1>User Manager</h1>
    </div>
    <div class="section" id="database-manager">
      <h1>Database Manager</h1>
    </div>
  </div>
</main>
