<main>
  <style media="screen">
    #left {
      text-align: left;
      float: left;
    }

    #right {
      text-align: right;
      float: right;
    }
  </style>
  <div class="footer">
    <p>
      <span id="left"><TMPL_VAR NAME=DISPLAY_CURRENT_DATE></span>
      <span id="right">Logged in as "<TMPL_VAR NAME=DISPLAY_USER_NAME>"</span>
    </p>
  </div>
</main>
