<nav>
  <style media="screen">
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    li {
      float: left;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover {
      background-color: #555;
    }
    .small {
      ;;
    }
    ul p {
      float: right;
      margin: 2px;
      margin-left: 20px;
      font-size: 15px;
      color: white;
    }
  </style>
  <ul>
    <li><a href=<TMPL_VAR NAME=LINK_HOME>>Home</a></li>
    <li><a href=<TMPL_VAR NAME=LINK_ADMIN>>Admin</a></li>
    <li><a href=<TMPL_VAR NAME=LINK_STRAT_GEN>>CSGO strat generator</a></li>
    <li><a href=<TMPL_VAR NAME=LINK_VAC_MANAGER>>CSGO VAC manager</a></li>
    <li><a href=<TMPL_VAR NAME=LINK_COOLDOWN_MANAGER>>CSGO cooldown manager</a></li>
    <p style="float:right;">User:</br> <TMPL_VAR NAME=DISPLAY_USER_NAME></p>
    <li style="float:right;"><a class="small" href=<TMPL_VAR NAME=LINK_LOGIN>>Login</a></li>
    <li style="float:right;"><a class="small" href=<TMPL_VAR NAME=LINK_LOGOUT>>Logout</a></li>
  </ul>
</nav>
