<nav>
  <style media="screen">
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #282828;
      border-radius: 10px;
    }
    li {
      float: left;
    }
    li a {
      display: block;
      color: inherit;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border-radius: 10px;
    }
    li a:hover {
      background-color: #32302f;
    }
    li p {
      display: none;
      color: inherit;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    .admin-page {
      display: <TMPL_VAR NAME=SHOW_ADMIN>;
    }
  </style>
  <ul>
    <li><a href="<TMPL_VAR NAME=LINK_HOME>">Home</a></li>
    <li><a class="admin-page" href=<TMPL_VAR NAME=LINK_ADMIN>>Admin</a></li>
    <li><a href="<TMPL_VAR NAME=LINK_STRAT_GEN>">Strat generator</a></li>
    <li><a href="<TMPL_VAR NAME=LINK_VAC_MANAGER>">VAC manager</a></li>
    <li><a href="<TMPL_VAR NAME=LINK_COOLDOWN_MANAGER>">Cooldown manager</a></li>
    <li><p style="float:right;"><TMPL_VAR NAME=DISPLAY_USER_NAME></p></li>
    <li style="float:right;"><a href="<TMPL_VAR NAME=LINK_LOGIN>">Login</a></li>
    <li style="float:right;"><a href="<TMPL_VAR NAME=LINK_LOGOUT>">Logout</a></li>
  </ul>
</nav>
