<main>
  <style media="screen">
    #right-statistic {
      float: right;
      width: 30%;
      margin: 40px;
    }
    #left-statistic {
      float: left;
      width: 30%;
      margin: 40px;
    }
  </style>
  <div class="section" id="right-statistic">
    <h1>Cooldown Statistics</h1>
    <TMPL_VAR NAME=TABLE_STATISTICS_COOLDOWN>
  </div>
  <div class="section" id="left-statistic">
    <h1>VAC Statistics</h1>
    <TMPL_VAR NAME=TABLE_STATISTICS_VAC>
  </div>
</main>
