<main>
  <style media="screen">
    #vac-statistics {
      float: left;
    }
    #cooldown-statistics {
      float: right;
    }
  </style>
  <div class="start_page">
    <div class="section">
      <h1>Statistics</h1>
        <table id="vac-statistics" class="statistics-table">
          <tr>
            <th>Statistic</th>
          </tr>
        </table>
        <table id="cooldown-statistics" class="statistics-table">
          <tr>
            <th>Statistic</th>
          </tr>
        </table>
    </div>
  </div>
</main>
