<main>
  <style media="screen">
    #right {
      float: right;
    }
    #left {
      float: left;
    }
  </style>
  <div class="section" id="right">
    test
  </div>
  <div class="section" id="left">
    test
  </div>
</main>
