<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inital setup</title>
    <link rel="stylesheet" href="../../lib/css/main.css">
    <style>
      table {
        text-align: center;
      }
      form input {
        background-color: #282828;
        border-radius: 10px;
        border: 2px solid #32302f;
        color: darkgrey;
      }
      form input:hover {
        background-color: #32302f;
      }
      table tr td input {
        background-color: #282828;
        border-radius: 10px;
        border: 2px solid #32302f;
        color: darkgrey;
      }
      table tr td input:hover {
        background-color: #32302f;
      }
    </style>
  </head>
  <body>
    <main>
      <div>
        <h1>Welcome to the setup page</h1>
        <div>
          <p>Please choose an initial admin password</p>
          <form action="index.pl" method="post">
            <input type="hidden" name="skip" value="true" />
            <input type="hidden" name="action" value="init_admin">
            <table class="no-border">
              <tr>
                <td>
                  Password: 
                </td>
                <td>
                  <input type="password" name="password" required />
                </td>
              </tr>
            </table>
            <input type="submit" value="Save" />
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
