<div class="section">
  <h1>Generate new Strat</h1>
  <ul class="default">
    <li>
      <form action="index.pl" method="post">
        <input type="hidden" name="action" value="new_strat"/>
        <input type="hidden" name="subaction" value="confirm" />
        <table class="no-border">
          <tr>
            <td>
              Difficulty: 
            </td>
            <td>
              <input type="text" name="strat_gen_difficulty" maxlength="2" required />
            </td>
          </tr>
        </table>
        <input type="submit" value="Generate"/>
      </form>
    </li>
  </ul>
</div>
