<main>
  <style media="screen">
    .default form {
      margin: 5px;
      padding: 5px;
    }
    .default form input {
      background-color: #282828;
      color: inherit;
      border: 2px solid #32302f;
      border-radius: 10px;
      margin: inherit;
      padding: inherit;
    }
    .default form input:hover {
      background-color: #32302f;
    }
  </style>
  <div class="section" id="vac-manager">
    <h1>Strat Generator</h1>
    <TMPL_VAR NAME=FORM_DEFAULT>
    <TMPL_VAR NAME=FORM_NEW_STRAT>
  </div>
</main>
