<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Setup complete</title>
    <link rel="stylesheet" href="../../lib/css/main.css">
    <meta http-equiv="refresh" content="5;url=index.pl?action=init_admin">
  </head>
  <body>
    <main>
      <h1>Database creation log (step 1 completed)</h1>
      <p style="text-align: left;"><TMPL_VAR NAME=Q_LOG></p>
      <p>You will be redirected to the second step in 5 seconds</p>
    </main>
  </body>
</html>
