<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inital setup</title>
    <link rel="stylesheet" href="../../lib/css/main.css">
  </head>
  <body>
    <main>
      <div>
        <h1>Welcome to the setup page</h1>
        <div>
          <p>When clicking 'Continue' the database will get initialized</p>
          <form action="index.pl" method="post">
            <input type="hidden" name="action" value="confirm">
            <input type="submit" name="_" value="Continue">
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
