<main>
  <style media="screen">
    #status-section {
      background-color: #504945;
    }
  </style>
  <div class="section" id="status-section">
    <span><TMPL_VAR NAME=MSG></span>
  </div>
</main>
