<main>
  <style media="screen">
    .default form {
      margin: 5px;
      padding: 5px;
    }
    .default form input {
      background-color: #282828;
      color: inherit;
      border: 2px solid #32302f;
      border-radius: 10px;
      margin: inherit;
      padding: inherit;
    }
    .default form input:hover {
      background-color: #32302f;
    }
    .default form select {
      background-color: #282828;
      color: inherit;
      border: 2px solid #32302f;
      border-radius: 10px;
      margin: inherit;
      padding: inherit;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    } 
    .default form select:hover {
      background-color: #32302f;
    }

    .cooldown-list {
      margin: 5px;
      padding: 5px;
    }
    .cooldown-list table {
      margin: 5px;
      padding: 5px;
    }
    .cooldown-list table td, table td button {
      font-size: 12px;
      margin: 1px;
      padding: 1px;
      text-align: center;
    }
    .cooldown-list button {
      background-color: #282828;
      color: inherit;
      margin: inherit;
      padding: inherit;
      border: none;
    }
    .cooldown-list button:hover {
      background-color: #32302f;
    }
    .cooldown-list img {
      border-radius: 8px;
    }
  </style>
  <div class="section" id="vac-manager">
    <h1>Cooldown manager</h1>
    <TMPL_VAR NAME=FORM_DEFAULT>
    <TMPL_VAR NAME=FORM_ADD_COOLDOWN>
    <TMPL_VAR NAME=TABLE_LIST_COOLDOWNS>
    <TMPL_VAR NAME=TABLE_COOLDOWN_DETAIL>
  </div>
  <!---
  <div class="section" id="database-manager">
    <h1>Database Manager</h1>
  </div>
  --->
</main>
