<ul class="default">
  <li>
    <form action="index.pl" method="post">
      <input type="hidden" name="action" value="add_suspect" />
      <input type="submit" value="Add new cooldown" />
    </form>
  </li>
  <li>
    <form action="index.pl" method="post">
      <input type="hidden" name="action" value="list_suspects" />
      <input type="submit" value="Show cooldowns" />
    </form>
  </li>
  <li class="notify">
    <span><TMPL_VAR NAME=MSG></span>
  </li>
</ul>
