<div class="section">
    <h1>Detailed view for: <span style="color: white;"><TMPL_VAR NAME=STEAM_PROFILE_NAME></span></h1>
    <div class="cooldown-list">
      <center>
        <ul>
          <li>
            <table>
              <tr>
                <th>
                  Profile Permalink
                </th>
                <th>
                  Steam ID 64
                </th>
                <th>
                  Cooldown Time
                </th>
                <th>
                  Cooldown Reason(s)
                </th>
                <th>
                  Last modified
                </th>
                <th>
                  Avatar
                </th>
              </tr>
              <tr>
                <td>
                  <a target="_blank" href="http://steamcommunity.com/profiles/<TMPL_VAR NAME=STEAM_ID64>">Profile (<TMPL_VAR NAME=STEAM_PROFILE_VISIBILITY>)</a>
                </td>
                <td>
                  <TMPL_VAR NAME=STEAM_ID64>
                </td>
                <td>
                  <TMPL_VAR NAME=STEAM_COOLDOWN_TIME>
                </td>
                <td>
                  <TMPL_VAR NAME=STEAM_COOLDOWN_REASON>
                </td>
                <td>
                  <TMPL_VAR NAME=STEAM_LAST_MODIFIED>
                <td>
                  <img src="<TMPL_VAR NAME=STEAM_AVATAR_URL>" alt="avatar_middle_img" align="middle">
                </td>
              </tr>
            </table>
          </li>
        </ul>
      </center>
    </div>
  </div>
  