<tr>
    <td>
      <TMPL_VAR NAME=STEAM_ID64>
    </td>
    <td>
      <TMPL_VAR NAME=STEAM_PROFILE_NAME>
    </td>
    <td>
      <form action="index.pl" method="POST" id="form<TMPL_VAR NAME=STEAM_ID64>.1">
        <input type="hidden" value="list_cooldowns" name="action"/>
        <input type="hidden" value="list_cooldown_detail" name="subaction"/>
        <input type="hidden" value="<TMPL_VAR NAME=STEAM_ID64>" name="steam_id64"/>
      </form>
      <button type="submit" form="form<TMPL_VAR NAME=STEAM_ID64>.1" value="submit">Details</button>
    </td>
  </tr>